@use 'config' as c;

.art01{
  padding: c.$padMin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 2rem;

  @media only screen and (min-width: c.$tablet){
    padding: initial;
    row-gap: 3rem;
  }
  @media only screen and (min-width: c.$desktop){
    row-gap: 4rem;
  }
  >:nth-child(1){
    text-align: left;
    width: 100%;

    @media only screen and (min-width: c.$desktop){
      text-align: center;
    }
  }
  >:last-child{
    margin-top: 3rem;
    @media only screen and (min-width: c.$tablet){
      margin-top: 0;
    }
  }

  img{
    width:100%;
    //aspect-ratio: 1/1;
    //height: calc(100dvw - (c.$padMin * 2));
    object-fit: cover;
    object-position: center;
    background-color: #ffffff;

    @media only screen and (min-width: c.$tablet){
      //aspect-ratio: 16/9;
    }
  }
  p{
    width: 100%;
    @media only screen and (min-width: c.$tablet){
      width:80%;
    }
    @media only screen and (min-width: c.$desktop){
      width: 70%;
    }
  }
}